p {
  font-size: 3em;
  color: var(--font-primary);
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-family: alethi;
  margin-top: 20px;
}
form {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
form .label-main {
  font-size: 1.8rem;
  text-align: center;
  color: #e2edf3;
  font-weight: 600;
  margin-top: 20px;
}
form input[type='number'] {
  width: 5rem;
  height: 2rem;
  max-width: 100%;
  font-size: 1.4rem;
  padding: 4px;
  border: none;
  outline: 4px solid var(--font-primary);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.checkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  column-gap: 8px;
}
.label-check {
  font-size: 1.8rem;
  color: #e2edf3;
  font-weight: 600;
}
form input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
}
form button {
  background-color: #e2edf3;
  border: none;
  padding: 12px 34px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  color: #494674;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  margin-bottom: 20px;
}
form button:hover {
  background-color: var(--font-primary);
}
.disabled {
  color: transparent !important;
}
