.gameContainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  margin: auto;
  width: 100%;
  place-content: center;
  place-items: center;
  gap: 40px;
  max-width: 1200px;
}
h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (max-width: 380px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
