.App {
  background-image: url('./../public/background.png');
  background-size: cover;
  /*<------*/
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}
.App h1 {
  text-align: center;
  margin-top: 20px;
  color: var(--font-primary);
  font-weight: 700;
}
